html {
  font-size: 12px;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  overflow-x: hidden;
  flex-direction: column; /* Ensure vertical stacking on all devices to be safe, or just mobile */
}

@media (max-width: 768px) {
  html {
    font-size: 10px; /* Adjust base font size for mobile */
  }
  body {
    width: 100%;
    overflow-x: hidden;
  }
}
