.footer {
  background: #5b7e97;
  color: #fff;
  display: flex;
  align-items: center;
  font-family: "roboto";
}
.footer-logo {
  height: 100%;
  width: 25%;
}
.footer-logo img {
  width: 100%;
  position: relative;
  /* top: -50px; */
}
.footer-contact {
  height: 40vh;
  width: 25%;

  display: flex;
  flex-direction: column;
}
.footer-contact h1 {
  font-weight: bold;

  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.footer-contact p {
  padding-left: 20px;
  padding-top: 20px;
  font-size: 1.3rem;
  cursor: pointer;
}
.footer-contact p i {
  padding-right: 50px;
  font-size: 1.3rem;
}
.footer-contact .line {
  width: 90%;
  height: 2px;
  background: #fff;
  margin-top: 20px;
  margin-left: 20px;
}
.footer-contact .platform {
  width: 80%;
  position: relative;
  left: -10px;
  height: 15%;
  margin-top: 25px;
  display: flex;
}
.footer-contact .platform i {
  margin: 0 20px;
  font-size: 2rem;
  cursor: pointer;
}
.footer-something {
  height: 40vh;
  width: 45vw;
  /* border: 2px solid red; */
  display: flex;
  flex-direction: row;
  margin-left: 3vw;
}
.footer-something div {
  height: 100%;
  width: 33%;

  display: flex;
  flex-direction: column;
}
/* .footer-something .about-us {
  display: flex;
  flex-direction: column;
} */
.footer-something h1 {
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
}
.footer-something a {
  text-decoration: none;
  color: #fff;
  font-family: "roboto";
  margin-left: 20px;
  margin-top: 20px;
  font-size: 1.3rem;
}

@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    padding-bottom: 20px;
    height: auto;
  }

  .footer-logo {
    width: 100%;
    text-align: center;
    height: auto;
  }

  .footer-logo img {
    width: 150px;
    margin-top: 20px;
  }

  .footer-contact {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
  }
  
  .footer-contact h1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .footer-something {
    width: 100%;
    height: auto;
    flex-direction: column;
    margin-left: 0;
  }

  .footer-something div {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
  }
}
