.why-choice-container {
  width: 102%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80vh;
  margin-top: 100px;

  background: #f1e7e7;
}
.why-choice-container h1 {
  font-size: 5rem;
}
/* 1. Wrapper chính, dùng để định vị các nút */
.why-choice-wrapper {
  position: relative;
  margin-top: 5%;
  right: 4%;
  /* Kích thước: 2 box (200px) + lề giữa (20px) */
  width: 1230px;
}

/* 2. Vùng chứa (Viewport), ẩn phần tràn */
.why-choice {
  width: 100%;
  overflow: hidden; /* Đây là chìa khóa */

  border-radius: 10px;
}

/* 3. Thanh trượt (Slide), chứa TẤT CẢ các box */
.why-choice-slide {
  display: flex;
  /* Hiệu ứng trượt mượt */
  transition: transform 0.5s ease-in-out;
}

/* 4. Kiểu dáng chung cho mỗi box */
.why-choice-slide .box {
  width: 600px; /* Kích thước cố định cho 1 box */
  height: 400px; /* Lề 10px mỗi bên (tạo lề giữa 20px) */
  flex-shrink: 0; /* Ngăn box bị co lại */
  margin: 0 10px;
  display: flex;
  align-items: center;

  flex-direction: column;
  font-size: 2.5rem;
  font-weight: bold;
  color: #2b9474;
  box-sizing: border-box;
  border-radius: 30px;
  overflow: hidden;
  background: #fff;
}

.why-choice-slide .box img {
  width: 100%;
}

/* 6. Kiểu dáng cho các nút bấm */
.carousel-btn {
  position: absolute;
  top: 50%;
  /* transform: translateY(-50%); */
  background-color: #fff;
  color: black;
  border: 1px solid #5eca06;

  cursor: pointer;
  font-size: 1.5rem;
  z-index: 10;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}
.carousel-btn i {
  font-size: 1rem;
}

.prev-btn {
  left: -100px;
}
.next-btn {
  right: -100px;
}

@media (max-width: 768px) {
  .why-choice-container {
    height: auto;
    padding: 50px 0;
  }

  .why-choice-container h1 {
    font-size: 2.5rem;
    text-align: center;
  }

  .why-choice-wrapper {
    width: 90vw;
    right: 0;
    margin-top: 20px;
  }

  .why-choice-slide .box {
    width: 90vw;
    height: auto;
    padding-bottom: 20px;
    margin: 0;
  }
  
  .why-choice-slide .box img {
    height: 200px;
    object-fit: contain;
  }
  
  .prev-btn {
    left: -10px;
  }
  
  .next-btn {
    right: -10px;
  }
}
